Source: ros-jazzy-qrb-ros-imu
Section: misc
Priority: optional
Maintainer: Zhanye Lin <quic_zhanlin@quicinc.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake-auto, ros-jazzy-qrb-ros-transport-imu-type, ros-jazzy-qrb-sensor-client, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-rcutils, ros-jazzy-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-qrb-ros-imu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-qrb-ros-transport-imu-type, ros-jazzy-qrb-sensor-client, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-rcutils, ros-jazzy-sensor-msgs
Description: QRB ROS IMU component
